---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <h4>{{ page.date | date_to_string }}</h4>
                    {% if site.reading_time %}
                    <p class="reading-time">
                      <i class="fa fa-clock-o"></i>
                      {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}
                    




                            {% assign prev = "" %}
                            {% assign next = "" %}
                            {% assign stop = false %}
                            {% for post in site.posts%}
                            {% if post == page %}
                            {% assign stop = true %}
                            {% elsif post.categories == page.categories %}
                            {% if stop %}
                            {% assign prev = post.url %}
                            {% assign pTitle = post.title %}
                            {% break %}
                            {% else %}
                            {% assign next = post.url %}
                            {% assign nTitle = post.title %}
                            {% endif %}
                            {% endif %}
                            {% endfor%}
                            {% if prev != "" %}
                            <a class="btn zoombtn" href="{{ prev }} " title = "{{pTitle}}">
                                    <i class="fa fa-chevron-left"></i>
                            </a>
                            {% else %}
                            <span class="btnlite" title = "No Older Posts In This Category">
                                    <i class="fa fa-chevron-left"></i>
                            </span>
                            {% endif %}
                            <a class="btn zoombtn" href="{{site.url}}" title = "Home">
                                    <i class="fa fa-home"></i>
                                </a>
                            {% if next != "" %}
                            <a class="btn zoombtn" href="{{ next }}" title = "{{pTitle}}">
                                    <i class="fa fa-chevron-right"></i>
                            </a>

                            {% else %}
                            <span class="btnlite" title = "No New Posts In This Category">
                                    <i class="fa fa-chevron-right"></i>
                            </span>
                            {% endif %}






                </div>
                {{ content }}
                <div class="entry-meta">
                {% include meta.html %}
                </div>
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
